page-about {
    .headerList {
        margin: 15px 0px;
        font-size: 15px;
        font-weight: bold;
    }

    .button-block-md{
        background: #4C335B;
    }

    .button-inner{
        color: #fff;
    }
}
