<ion-header>
  <ion-navbar>
    <ion-title>
      Calendário
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-calendar #calendar [events]="currentEvents" (onDaySelect)="onDaySelect($event)" (onMonthSelect)="onMonthSelect($event)"></ion-calendar>
  <button
  ion-button
  block
  (click)="addEvent()">Adicionar Evento</button>


  <ion-list *ngIf="filteredEvents.length > 0">
    <div class="headerList" style="color: #ABCACC">
      Eventos Agendados
    </div>
    <ion-item *ngFor="let ev of filteredEvents;">
      <!-- <ion-thumbnail item-start>
        <img src="img/thumbnail-totoro.png">
      </ion-thumbnail> -->
      <h2>{{ev.name}}</h2>
      <p>{{ev.description}}</p>
      <button ion-button clear item-end style="background-color : #4C335B">Ver</button>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="filteredEventsSemana.length > 0">
    <div class="headerList" style="color: #825599">
      Eventos Recomendados para semana {{weekDifference}}
    </div>
    <ion-item *ngFor="let ev of filteredEventsSemana;">
      <h2>{{ev.name}}</h2>
      <p>{{ev.description}}</p>
      <button ion-button clear item-end style="background-color : #4C335B">Agendar</button>
    </ion-item>
  </ion-list>

</ion-content>
