page-home {
    
    .feeling
    {
        height: 10%;
    }

    // img
    // {  
    //     text-align: center; 
    //     height: 75%;
    //     margin-top: 20px; 
    //     margin-bottom: 20px;
    // }
    
    .data
    {
        height: 15%;
    }

    .cor-letra {
        color: #4C335B;
    }

    .cor-numero {
        color: #539599;
    }
}
