page-home {
    
    .feeling
    {
        height: 10%;
    }

    img
    {   
        height: 75%;
        margin-top: 20px; 
        margin-bottom: 20px;
    }
    
    .data
    {
        height: 15%;
    }

}
