<ion-header>

  <ion-navbar>
    <ion-title>Adicionar Evento</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-label>Evento</ion-label>
      <ion-select [(ngModel)]="tipoEv">
        <ion-option *ngFor="let tipoEv of tipoEventos" [value]="tipoEv">{{tipoEv}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label floating>Descrição</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col col-12 style="margin: 15px 0px;
                font-size: 16px;
                text-align: center;">
            Data Selecionada: <br>{{textData}}
          </ion-col>
      </ion-row>
    </ion-grid>
    <button
      ion-button
      block
      (click)="goToMaps()"
      [disabled] = "disableButtonMap()"
      color="dark"
      >Procurar Localidade</button>

  </ion-list>

  <ion-list *ngIf="tipoEv === 'Atividades'">
    <div class="headerList">
      Atividades Recomendadas
    </div>
    <ion-item *ngFor="let ativ of atividadesRecomendadas;">
      <h2>{{ativ.name}}</h2>
      <p>{{ativ.description}}</p>
      <button ion-button clear item-end (click)="procurarAtividade(ativ)" color="secondary">Procurar</button>
    </ion-item>
  </ion-list>  

  <ion-grid>
    <ion-row>
      <ion-col col-6>
          <button
          ion-button
          block
          color="danger"
          (click)="onLeave()">Cancelar</button>
      </ion-col>
      <ion-col col-6>
          <button
          ion-button
          block
          color="secondary"
          (click)="onSave()"
          [disabled] = "disableButtonMap()">Salvar</button>
      </ion-col>
      </ion-row>
  </ion-grid>

</ion-content>
